

.work-sans-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.navber{
   justify-content: space-between;
}

.nav-links{
   
}
.nav-item{
    list-style: none;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.btn{
    background-color:#FEA301 ;
    height: 40px;
    width: 110px;
    border: 0;
    border-radius: 12px;
  
}
.class{
    color:#111111 ;
}
.color{
    color: white;
}
.color-1{
    color:#FEA301 ;
}
.color-2{
    color: #01ACFD;
}
.color-3{
    color: rgba(5, 212, 223, 1);
}
.color-4{
    color: rgba(93, 88, 239, 1);
}
.header{
    max-width: 1440px;
    margin: 0 auto;
}
.black{
    background-color:#111111 ;
    border: 0;
    height: 40px;
    width:120px ;
    border-radius: 12px;
}
.color-5{
    color: white;
}
.font{
    font-weight: 700;
    font-size:3rem ;
}
.abid{
    width: 640px;
    height: 331px;
}
.bannr{
    gap: 560px;
    align-items: center;
}
.color-6{
    color: #FEA301;
}
.color-10{
    color:#01ACFD ;
}
.stand{
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}
.gap{
    gap: 20px;
    justify-content: space-evenly;
    
}
.bg{
    background-color:rgb(252, 250, 250) ;
    text-align: center;
    height: 400px;
    width:300px ;
    border-radius: 18px;
}
.font-1{
    font-weight: 700;
    font-size: 25px;
}
.color-7{
    color: #64C8FF;
}
.color-8{
  color:#F0AA00;
}
.color-9{
    color: #8700FF;
}

.banner-2{
    max-width: 1440px;
    margin: 0 auto;
    
}


.display-flex-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    justify-content: space-evenly;
    gap: 20px;
}

.child{
    background-color: white;
    border-radius:8px;
}
.btnn{
    background-color:#111111 ;
    height: 40px;
    width: 140px;
    border: 0;
    border-radius: 12px;
    
}
.gray{
    justify-content: space-evenly;
}
.hasan{
    text-align: center;
}
.contant{
    background-color: #3CD8E8;
    color: white;
    height: 30px;
    border: 0;
    border-radius:50px;
    margin-left: 30px;
    
}
.bold{
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    margin-left: 30px;
}
.pra{
    font-size: 16px;
    margin-left: 30px;
}
.img{
    border-radius: 8px;
}
.button{
    background-color:#95B226 ;
    height: 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    margin-left:38px ;
   
}
.tag{
    font-size: 16px;
    margin-left: 38px;
}
.button-2{
    background-color:#5D58F0 ;
    height: 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    margin-left: 38px;
}
.tag-2{
    font-size: 16px;
    margin-left: 38px;
}
.button-3{
    background-color:#95B226 ;
    height: 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    margin-left: 38px;
}
.tag-3{
    font-size: 16px;
    margin-left: 38px;
}
.button-4{
    background-color: #95B226;
    height: 30px;
    border: 0;
    border-radius: 50px;
    color: white;
    margin-left: 38px;
}
.tag-4{
    font-size: 16px;
    margin-left: 38px;
}

.last{
    background-color:#01ACFD ;
    margin-top: 30px;
    height: 400px;
}
.footer{
    max-width: 1440px;
    margin: 0 310px;
    justify-content: space-between;
}
.logo{
    background-color: white;
    height: 80px;
    margin-top: 20px;
}
.sami-bold{
    font-weight: 700;
    font-size: 40px;
}
.color-11{
    color:#FFFFFF ;
    gap: 10px;
}
.color-12{
    color: #FFFFFF;
}
.color-13{
    color: #FFFFFF;
}
.color-14{
    color: #FFFFFF;
}